.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

[data-tooltip] {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
}

[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    box-sizing: content-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[data-tooltip]:before {
    content: '';
    border: 6px solid transparent;
}

[data-tooltip]:after {
    height: 22px;
    padding: 11px 11px 0 11px;
    font-size: .9em;
    line-height: 11px;
    content: attr(data-tooltip);
    white-space: nowrap;
    border-radius: 3px;
}

[data-tooltip].simptip-position-top:before {
    border-top-color: rgba(50, 50, 50, 0.9);
}

[data-tooltip].simptip-position-top:after {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
}

[data-tooltip].simptip-position-bottom:before {
    border-bottom-color: rgba(50, 50, 50, 0.9);
}

[data-tooltip].simptip-position-bottom:after {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
}

[data-tooltip].simptip-position-left:before {
    border-left-color: rgba(50, 50, 50, 0.9);
}

[data-tooltip].simptip-position-left:after {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
}

[data-tooltip].simptip-position-right:before {
    border-right-color: rgba(50, 50, 50, 0.9);
}

[data-tooltip].simptip-position-right:after {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
}

[data-tooltip].simptip-position-top.half-arrow:before {
    border-right: 7px solid rgba(50, 50, 50, 0.9);
}

[data-tooltip].simptip-position-bottom.half-arrow:before {
    border-right: 7px solid rgba(50, 50, 50, 0.9);
}

[data-tooltip]:hover,
[data-tooltip]:focus {
    background-color: transparent;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
    opacity: 1;
    visibility: visible;
}

.simptip-position-right:before,
.simptip-position-left:before,
.simptip-position-right:after,
.simptip-position-left:after {
    bottom: 50%;
}

.simptip-position-right:before,
.simptip-position-left:before {
    margin-bottom: -5px;
}

.simptip-position-right:after,
.simptip-position-left:after {
    margin-bottom: -14.66667px;
}

.half-arrow.simptip-position-right:before,
.half-arrow.simptip-position-left:before {
    bottom: 16px;
    border-style: none;
    border-top: 7px solid transparent;
}

.simptip-multiline.simptip-position-right:before,
.simptip-multiline.simptip-position-left:before,
.simptip-multiline.simptip-position-right:after,
.simptip-multiline.simptip-position-left:after {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    margin-bottom: 0;
}

.simptip-multiline.simptip-position-right:before,
.simptip-multiline.simptip-position-left:before {
    margin-bottom: 0;
}

.simptip-multiline.half-arrow.simptip-position-right:before,
.simptip-multiline.half-arrow.simptip-position-left:before {
    margin-bottom: -2px;
}

.simptip-position-right:before,
.simptip-position-right:after {
    left: 100%;
}

.simptip-position-right:before {
    margin-left: -2px;
}

.simptip-position-right:after {
    margin-left: 10px;
}

.simptip-position-right.simptip-movable:before {
    margin-left: -10px;
}

.simptip-position-right.simptip-movable:after {
    margin-left: 2px;
}

.simptip-position-right.simptip-movable:hover:before,
.simptip-position-right.simptip-movable:hover:after {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.simptip-position-right.simptip-movable.half-arrow:before {
    margin-left: -5px;
}

.simptip-position-right.simptip-movable.simptip-multiline:hover:before,
.simptip-position-right.simptip-movable.simptip-multiline:hover:after {
    -webkit-transform: translate(10px, 50%);
    transform: translate(10px, 50%);
}

.simptip-position-right.half-arrow:before {
    margin-left: 3px;
    border-right: 7px solid rgba(50, 50, 50, 0.9);
}

.simptip-position-left:before,
.simptip-position-left:after {
    right: 100%;
}

.simptip-position-left:before {
    margin-right: -2px;
}

.simptip-position-left:after {
    margin-right: 10px;
}

.simptip-position-left.simptip-movable:before {
    margin-right: -10px;
}

.simptip-position-left.simptip-movable:after {
    margin-right: 2px;
}

.simptip-position-left.simptip-movable:hover:before,
.simptip-position-left.simptip-movable:hover:after {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.simptip-position-left.simptip-movable.half-arrow:before {
    margin-right: -5px;
}

.simptip-position-left.simptip-movable.simptip-multiline:hover:before,
.simptip-position-left.simptip-movable.simptip-multiline:hover:after {
    -webkit-transform: translate(-10px, 50%);
    transform: translate(-10px, 50%);
}

.simptip-position-left.half-arrow:before {
    margin-right: 3px;
    border-left: 7px solid rgba(50, 50, 50, 0.9);
}

.simptip-position-bottom:before,
.simptip-position-top:before,
.simptip-position-bottom:after,
.simptip-position-top:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.simptip-position-bottom:after,
.simptip-position-top:after {
    width: auto;
}

.half-arrow.simptip-position-bottom:before,
.half-arrow.simptip-position-top:before {
    border-style: none;
    border-right: 7px solid rgba(50, 50, 50, 0.9);
}

.simptip-position-bottom:before,
.simptip-position-bottom:after {
    top: 100%;
}

.simptip-position-bottom:before {
    margin-top: -5px;
}

.simptip-position-bottom:after {
    margin-top: 7px;
}

.simptip-position-bottom:hover:before,
.simptip-position-bottom:hover:after {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.simptip-position-bottom.simptip-movable:before {
    margin-top: -15px;
}

.simptip-position-bottom.simptip-movable:after {
    margin-top: -3px;
}

.simptip-position-bottom.simptip-movable:hover:before,
.simptip-position-bottom.simptip-movable:hover:after {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
}

.simptip-position-bottom.simptip-movable.half-arrow:before {
    margin-top: -10px;
}

.simptip-position-bottom.half-arrow:before {
    margin-top: 0;
    border-top: 7px solid transparent;
}

.simptip-position-top:before,
.simptip-position-top:after {
    bottom: 100%;
}

.simptip-position-top:before {
    margin-bottom: -5px;
}

.simptip-position-top:after {
    margin-bottom: 7px;
}

.simptip-position-top:hover:before,
.simptip-position-top:hover:after {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
}

.simptip-position-top.simptip-movable:before {
    margin-bottom: -15px;
}

.simptip-position-top.simptip-movable:after {
    margin-bottom: -3px;
}

.simptip-position-top.simptip-movable:hover:before,
.simptip-position-top.simptip-movable:hover:after {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
}

.simptip-position-top.simptip-movable.half-arrow:before {
    margin-bottom: -10px;
}

.simptip-position-top.half-arrow:before {
    margin-bottom: 0;
    border-bottom: 7px solid transparent;
}

.simptip-movable:before,
.simptip-movable:after {
    transition: all 0.1s linear;
}

.simptip-smooth:after {
    border-radius: 4px;
}

.simptip-fade:before,
.simptip-fade:after {
    transition: opacity .2s linear, visibility .2s linear;
}

.simptip-multiline:after {
    height: auto;
    width: 150px;
    padding: 11px;
    line-height: 19px;
    white-space: normal;
    text-align: left;
}

.simptip-success.simptip-position-top:before {
    border-top-color: #62c462;
}

.simptip-success.simptip-position-top:after {
    background-color: #62c462;
    color: #fff;
}

.simptip-success.simptip-position-bottom:before {
    border-bottom-color: #62c462;
}

.simptip-success.simptip-position-bottom:after {
    background-color: #62c462;
    color: #fff;
}

.simptip-success.simptip-position-left:before {
    border-left-color: #62c462;
}

.simptip-success.simptip-position-left:after {
    background-color: #62c462;
    color: #fff;
}

.simptip-success.simptip-position-right:before {
    border-right-color: #62c462;
}

.simptip-success.simptip-position-right:after {
    background-color: #62c462;
    color: #fff;
}

.simptip-success.simptip-position-top.half-arrow:before {
    border-right: 7px solid #62c462;
}

.simptip-success.simptip-position-bottom.half-arrow:before {
    border-right: 7px solid #62c462;
}

.simptip-info.simptip-position-top:before {
    border-top-color: #5bc0de;
}

.simptip-info.simptip-position-top:after {
    background-color: #5bc0de;
    color: #fff;
}

.simptip-info.simptip-position-bottom:before {
    border-bottom-color: #5bc0de;
}

.simptip-info.simptip-position-bottom:after {
    background-color: #5bc0de;
    color: #fff;
}

.simptip-info.simptip-position-left:before {
    border-left-color: #5bc0de;
}

.simptip-info.simptip-position-left:after {
    background-color: #5bc0de;
    color: #fff;
}

.simptip-info.simptip-position-right:before {
    border-right-color: #5bc0de;
}

.simptip-info.simptip-position-right:after {
    background-color: #5bc0de;
    color: #fff;
}

.simptip-info.simptip-position-top.half-arrow:before {
    border-right: 7px solid #5bc0de;
}

.simptip-info.simptip-position-bottom.half-arrow:before {
    border-right: 7px solid #5bc0de;
}

.simptip-danger.simptip-position-top:before {
    border-top-color: #e74c3c;
}

.simptip-danger.simptip-position-top:after {
    background-color: #e74c3c;
    color: #fff;
}

.simptip-danger.simptip-position-bottom:before {
    border-bottom-color: #e74c3c;
}

.simptip-danger.simptip-position-bottom:after {
    background-color: #e74c3c;
    color: #fff;
}

.simptip-danger.simptip-position-left:before {
    border-left-color: #e74c3c;
}

.simptip-danger.simptip-position-left:after {
    background-color: #e74c3c;
    color: #fff;
}

.simptip-danger.simptip-position-right:before {
    border-right-color: #e74c3c;
}

.simptip-danger.simptip-position-right:after {
    background-color: #e74c3c;
    color: #fff;
}

.simptip-danger.simptip-position-top.half-arrow:before {
    border-right: 7px solid #e74c3c;
}

.simptip-danger.simptip-position-bottom.half-arrow:before {
    border-right: 7px solid #e74c3c;
}

.simptip-warning.simptip-position-top:before {
    border-top-color: #e67e22;
}

.simptip-warning.simptip-position-top:after {
    background-color: #e67e22;
    color: #fff;
}

.simptip-warning.simptip-position-bottom:before {
    border-bottom-color: #e67e22;
}

.simptip-warning.simptip-position-bottom:after {
    background-color: #e67e22;
    color: #fff;
}

.simptip-warning.simptip-position-left:before {
    border-left-color: #e67e22;
}

.simptip-warning.simptip-position-left:after {
    background-color: #e67e22;
    color: #fff;
}

.simptip-warning.simptip-position-right:before {
    border-right-color: #e67e22;
}

.simptip-warning.simptip-position-right:after {
    background-color: #e67e22;
    color: #fff;
}

.simptip-warning.simptip-position-top.half-arrow:before {
    border-right: 7px solid #e67e22;
}

.simptip-warning.simptip-position-bottom.half-arrow:before {
    border-right: 7px solid #e67e22;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}